.iconContainer {
  position: relative;
  margin-left:85%;
  margin-top:-61px;
  height:50px;
  width:100px;

  p {
    font-size: 20px;
    font-weight: 1000;
    margin-left:80%;
    margin-top:-38px;
  }
  img {
    max-height: 100%;
    max-width: 100%
  }
}
