@import 'variables';
@import 'itemStyles';
.App {
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: $base-color;
  font-family: $main-font;
}

.App {
  width: 750px;
  margin: 80px auto;
  background: $cart-background;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}
